* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 12px;
}

.header {
    background: #ffe6cc;
    padding: 15px;
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    margin-left: auto;
    display: flex;
    gap: 25px;
}

.hero {
    background: #dae8fc;
    padding: 100px;
    text-align: center;
}

.section-title {
    width: 120px;
    height: 60px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.col {
    width: 30%;
}

.services-section {
    background: #fff2cc;
    padding: 50px 20px;
}

.about-section {
    background: #e5d9f2;
    padding: 50px 20px;
}

.subtitle {
    text-align: center;
}

.wave-container {
    width: 200px;
    height: 100px;
    overflow: hidden;
    margin-top: 15px;
}

.wave-container svg {
    width: 100%;
    height: 100%;
    display: block;
}

.contact-section {
    background: #d5e8d4;
    padding: 50px 20px;
}

.form-row {
    display: flex;
    gap: 20px;
    justify-content: center;
}

input {
    width: 40%;
    padding: 10px;
}

textarea {
    width: 85%;
    height: 100px;
    margin: 20px auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
}

.btn {
    display: block;
    margin: auto;
    background: blue;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
}

/* FOOTER */
.footer {
    background: #ffe6cc;
    text-align: center;
    padding: 10px;
}

/* RESPONSIVE */
@media(max-width: 600px) {
    .row {
        flex-direction: column;
        text-align: center;
    }
    .col {
        width: 100%;
    }
    .form-row {
        flex-direction: column;
    }
    input {
        width: 100%;
    }
}
